/* Color Theme Swatches in Hex */
$alex_portrait_2-1-hex: #FFC000;
$alex_portrait_2-2-hex: #2E2D2C;
$alex_portrait_2-3-hex: #FFD804;
$alex_portrait_2-4-hex: #7F8588;
$alex_portrait_2-5-hex: #2C4058;


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

a {
  text-decoration: none;
  color: lightgray;

  &:hover {
    text-decoration: none;
    font-weight: bold;
    color: #ca9e1a;
  }
}

header{
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 8rem;
}

ul {
  list-style: none;
  box-shadow: 2px black;
  display: flex;
  justify-content: flex-end;
}
li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  margin: 10px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding: 1em;
  // margin: 1rem;

}

h2{
  color: #ca9e1a;
  font-size: 4rem;
  margin-left: 3rem;
  // padding: 1rem;
  letter-spacing: 3px;
  text-transform: uppercase;
}

h2>span{
  color: lightgrey;
  font-weight: bold;
}
