

.prd-page{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap; 
}

.product{
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 40vh;
    padding: 1rem; 
    margin: 3rem;
    box-shadow: 5px 10px 30px rgba(0,0,0, 0.3);
    font-size: 2rem;
    border-radius: 2px;
    background-color: lightgray;
    color: #333;

}
img{
    height: 100%;
}
.prd-img{
    width: 100%;
    height: 80%;
    background: white;
    border: 2px solid grey;
    margin-bottom: 1rem;
}

.prd_title{
    margin-top: 2rem;
    font-weight: bold;
    font-size: 2rem;
}
