@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');
body {
  font-size: 1.6rem;
  max-width: 100%;
  overflow-x: hidden;
  background: #333;
  max-height: 100vh;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 100%;
}

.header {
  width: 100%;
  // border: green 2px solid;
}

.appBody {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  // border: 1px solid purple;
  width: 100vw;
  // height: 100%;
}

.sidebar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  // border: 1px solid pink;
  flex-wrap: wrap;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  // border: 1px solid black;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  color: lightgray;
  height: 100px;
}
