
.form_container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: row-reverse;
  width: 60vw;
  // border: 1px solid red;
  margin-top: 2rem;
  background: rgb(117, 116, 116);
  // color: #333333;
  margin-top: 5rem;
  border-radius: 5px;
  // min-height: 50vh;
  margin-bottom: 5rem;
  box-shadow: 5px 10px 30px rgba(0,0,0, 0.4);
}

.register_form{
  display: flex;
  justify-content: center;
  padding: 2rem;
  width: 40%;
}

label {
  line-height: 3rem;
  font-size: 1.6rem;
  margin-right: 50px;
  // border: 1px solid red;
  display: flex;
  justify-content: flex-start;
  color: lightgrey;
}

.form-group { 
  line-height: 3rem;
  // width: 100%;
  // border: green 1px solid;
  // position: relative;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  // color: #333333;
}

.form-control, input{
  color: #ccc;
  // outline: none;
  border: none;
  width: 100%;
  padding: 5px 0;
  font-size: 2rem;
  background: transparent;
}

.form_title{
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 3rem;
  text-transform: uppercase;
  color: #333333;
  margin-top: 1rem;
}

.form_photo{
  background: url(climb2.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;;
  width: 60%;
  // transform: translateX(-8rem);
  border-radius: 5px 0 0 5px;
}

.btn, .submitbtn {
  display: inline-block;
  margin-top: 1rem;
  line-height: 40px;
  padding: 0 33px;
  font-family: Poppins, Arial, "Helvetica Neue", sans-serif;
  cursor: pointer;
  color: #cccccc;
  transition: all 0.4s ease;
  background-color: #333333;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 2rem;
  border-radius: 5px;
  &:hover{
    background-color: #ccc;
    color: #333333;
    font-weight: bold;
  }
}



